@media only screen and (min-width: 768px) {
    .advantages_block {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .first_block {
        padding-top: 120px;
    }
    .first_block p {
        padding: 0 30px;
    }
    .third_block {
        padding: 0;
    }
    .advantages_block {
        width: 100%;
        margin: 0;
    }
    .advantages {
        line-height: 25px;
    }
    nav a {
        padding: 13px 10px;
        margin: 0;
    }
    nav {
        display: flex;
        justify-content: space-around;
    }
    .advantages_block {
        width: 80%;
        margin: auto;
        display: block;
    }
    .advantages {
        width: 100%;
        background-position: center;
        margin: 20px 0;
    }
    .first_adv_block {
        background-size: 100%;
    }
    .second_adv_block {
        background-size: 100%;
    }
    .third_adv_block {
        background-size: 100%;
    }
    .advantages p {
        line-height: 200px;
        color: white;
    }
    footer .footer_block {
        display: block;
    }
    footer .icons {
        margin: auto;
    }
    .fourth_block_text {
        width: 100%;
    }
    .fourth_block_img {
        width: 0;
        padding: 0;
    }
    footer .tel_num {
        width: 100%;
        text-align: center;
    }
}